// $content-width: 1570px;
$content-width: 80vw;

$color-line: #1c1c1c;
$color-text: #1c1c1c;
$color-link: #12c868;
$color-text-button: #ffffff;
$color-costButton: #12c868;
$color-objButton: #f38120;
$color-hover: #fd9c49;
$color-hover-prime-btn: #21e27c;
$color-bullets: #ffffff;
$color-overlay: rgba(80, 80, 80, 0.4);
$color-modal: #FFFFFF;
$color-modal-btn: #F38120;
$color-background: #EDF2F5;
$color-burger: #1C1C1C;
